/* styles.css */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}
/* In your home component's CSS/SCSS file */
.header-section {
  background-image: url("/images/emperia.png");
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  position: relative;
}

/* Add an overlay to ensure text is readable */
.header-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); /* Dark overlay */
  z-index: 1;
}

.header-content {
  position: relative;
  z-index: 2; /* Place above the overlay */
  text-align: center;
}
